# Checks: '-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,modernize-*,performance-*,portability-*,readability-*'
WarningsAsErrors: '*'
FormatStyle: file
HeaderFileExtensions: ['', 'h', 'hpp']
HeaderFilterRegex: '*.\.h'
ImplementationFileExtensions: ['cpp']